.panel {
    min-width: 100%;
    position: absolute;
    z-index: 10000;
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border-radius: 4px;
    box-shadow: 4px 4px 8px var(--inverted-bg-color);
    cursor: pointer;
    padding: 15px;
}
