.inputWrapper {
    display: flex;
}

.placeholder {
    margin-right: 5px;
    min-width: 80px;
    white-space: nowrap;
}

.input {
    border-radius: 9px;
    border: 1px solid var(--primary-color);
    background: transparent;
    flex: 1;
    color: var(--primary-color);
    padding-left: 10px;
    padding-right: 10px;
}

.input:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

.readonly {
    opacity: 0.7;
}
