.AddCommentForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid var(--primary-color);
    flex-wrap: wrap;
}

.input {
    flex-grow: 1;
    margin-right: 10px;
}
