.app_dark_theme {
    --bg-color: #1b1d1a;
    --inverted-bg-color: #5d625a;
    --primary-color: #eef4ea;
    --secondary-color: #737b6f;
    --inverted-primary-color: #1b1d1a;
    --inverted-secondary-color: #444742;

    // Skeleton

    --skeleton-color: #2b2c2b;
    --skeleton-shadow: #848484;

    // Code

    --code-bg: #3a3b3a;

    // CARD

    --card-bg: #222;
}
