.app_kids_theme {
    --bg-color: #f4fbf8;
    --inverted-bg-color: #296f25;
    --primary-color: #296f25;
    --secondary-color: #499745;
    --inverted-primary-color: #f4fbf8;
    --inverted-secondary-color: #eef4ea;

    // Skeleton

    --skeleton-color: #bec1bf;
    --skeleton-shadow: #bec1bf;

    // Code

    --code-bg: #fff;

    // CARD

    --card-bg: #e6e5e5;
}
