:root,
.app_light_theme {
    --bg-color: #edf0f0;
    --inverted-bg-color: #1b1d1a;
    --primary-color: #1b1d1a;
    --secondary-color: #2b2c2a;
    --inverted-primary-color: #edf0f0;
    --inverted-secondary-color: #fff;

    // Skeleton

    --skeleton-color: #616160;
    --skeleton-shadow: #3c3d3c;
}
