.articleDetailsPage {
    width: 100%;
}

.commentTitle {
    margin-top: 20px;
}

.articleRecommendations {
    margin-top: 20px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
