.profileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    opacity: 0.6;
}

.editings {
    opacity: 1;
}

// .input {
//     margin-top: 10px;
// }

// .select {
//     margin-top: 10px;
// }

// .editBtn {
//     margin-left: auto;
// }

.loading,
.error {
    height: 300px;
}
